#header, #content, #footer {
    width: 800px;
    margin: 0 auto;
}


/* input[type=text] {
    width: 200px;
} */

table {
    border-collapse: collapse;
    width: 100%;
}
td:last-child {
    width: 250px;
}
select, input[type=text] {
    width: 100%;
}

td {
    border: 1px solid black;
}