<div id='event-api-content'>
    <%- include('./event', {const_vlaue: const_value, id_list: id_list}); %>
</div>

<div id='member-api-content'>
<%- include('./member', {const_value: const_value, id_list: id_list}); %>
</div>

<datalist id='id_list'>
    <% for (let id of id_list) { %>
        <option value=<%= id %> ></option>
    <% } %>
</datalist>