<html>
    <head>
        <link rel='stylesheet' type='text/css' href='/stylesheets/debug.css'>
    </head>
    <body>
        <div id='header'>
            <h3>PAON Debug Page</h3>
        </div>
        <div id='content'>
            <%- include('./debug/content', {const_value: const_value}); %>
        </div>
        <div id='footer'>
        </div>
        <script src='/javascripts/jquery-3.4.1.min.js'></script>
        <script src='/javascripts/json-formatter.js'></script>
        <script src='/javascripts/debug.js'></script>
    </body>
</html>